<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titolo</title>
</head>
<body>
    <script>
        var dateAndTime = "<%= dateAndTime %>";
        consle.log(dateAndTime)
    </script>
</body>
</html>