<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
        title Dati di adesso
        style.
            .margin-left {
                margin-left: 10%;
            }

            .margin-top {
                margin-top: 20%;
            }

            .hide {
                display: none;
            }


    body
        div.margin-left
            div.margin-top
                div.container
                    div.table-responsive
                        table.table-hover
                            tr
                                td.hide data e ora
                                td data odierna
                                td ora odierna
                                td temperatura
                                td umidita
                                td pressione
                            tr
                                td.hide!=dateAndTime
                                td!=dataOdierna
                                td!=ora
                                td!=temperatura
                                td!=umidita
                                td!=pressione
    


